<div class="password-recovery">
  <div class="main-section">
    <h2>Restaurar senha</h2>
    <mat-card>

        <div class="password-recovery-wrapper">
          <form [formGroup]="passwordRecoveryFormGroup">

            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Nome de usuário</mat-label>
              <input matInput formControlName="usernameCtrl" required autocomplete="off">
              <mat-error *ngIf="passwordRecoveryFormGroup.get('usernameCtrl').hasError('required')">
                O nome de usuário é obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="passwordCtrl" required autocomplete="off">
              <mat-error *ngIf="passwordRecoveryFormGroup.get('passwordCtrl').hasError('required')">
                A senha é obrigatória
              </mat-error>
              <mat-error *ngIf="passwordRecoveryFormGroup.get('passwordCtrl').hasError('minlength')">
                A senha deve ter pelo menos 8 caracteres
              </mat-error>
              <mat-error *ngIf="passwordRecoveryFormGroup.get('passwordCtrl').hasError('strength')">
                Requisitos: (1) 8 caracteres; (2) uma maiúscula; (3) uma minúscula, (4) um número
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Confirmação da Senha</mat-label>
              <input matInput type="password" formControlName="passwordConfirmationCtrl" required autocomplete="off">
              <mat-error *ngIf="passwordRecoveryFormGroup.get('passwordConfirmationCtrl').hasError('required')">
                A confirmação da senha é obrigatória
              </mat-error>
              <mat-error *ngIf="passwordRecoveryFormGroup.get('passwordConfirmationCtrl').hasError('mismatch')">
                As senhas não correspondem
              </mat-error>
            </mat-form-field>

          </form>
          <button class="code-button"  mat-flat-button>Enviar código</button>
          <form [formGroup]="confirmationFormGroup">
            <mat-form-field class="medium-input" appearance="fill">
              <mat-label>Código de confirmação</mat-label>
              <input matInput formControlName="confirmationCodeCtrl" autocomplete="off">
            </mat-form-field>
          </form>
        </div>
        <div class="password-recovery-wrapper">
          <re-captcha siteKey="6Le4qZMdAAAAAHvjE1giImTs94Eycelxfw4wCVhc"></re-captcha>
        </div>
        <div class="navigator">
          <button mat-flat-button>Confirmar</button>
        </div>

    </mat-card>
  </div>
</div>
