<div class="main">
    <h1 class="title">Cadastro de produtos</h1>
    <form auto class="form-container">
        <mat-form-field class="gameName" appearance="fill">
            <mat-label color="white">Nome do jogo:</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field class="price" appearance="fill">
            <mat-label>Preço:</mat-label>
            <input type="number" min="1" step="any" matInput placeholder="Preço">
        </mat-form-field>
        <mat-form-field class="ageRating" appearance="fill">
            <mat-label>Classificação indicativa:</mat-label>
            <mat-select>
                <mat-option value="L">L</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="12">12</mat-option>
                <mat-option value="14">14</mat-option>
                <mat-option value="16">16</mat-option>
                <mat-option value="18">18</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="description" appearance="fill">
            <mat-label>Descrição:</mat-label>
            <textarea rows="15" maxlength="1716" matInput></textarea>
        </mat-form-field>
        <img class="game-image" src={{image}}>
        <div class="image-amount">
            <mat-form-field class="amount" appearance="fill">
                <mat-label>Quantidade:</mat-label>
                <input type="number" min="1" matInput placeholder="Quantidade">
            </mat-form-field>
            <mat-form-field class="image" appearance="fill">
                <mat-label>Imagem:</mat-label>
                <input matInput autocomplete="off" (keyup.enter)="atualizarImagem($event)" placeholder="Image">
            </mat-form-field>
        </div>
        <button class="btn-confirm" mat-button>Cadastrar</button>
    </form>
</div>