<div class="wrapper">
  <div class="main">
    <div class="main-container">
      <div class="bar-container">

        <div class="filter-container">
          <mat-form-field appearance="fill">
            <mat-label>Ordenar por</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="relevant">Maior relevância</mat-option>
              <mat-option value="rising-price">Preço crescente</mat-option>
              <mat-option value="decreasing-price">Preço decrescente</mat-option>
              <mat-option value="release-date">Data de lançamento</mat-option>
              <mat-option value="best-rating">Melhor avaliação</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="search">
          <mat-form-field class="filter-search-bar" appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="catalog-container">
        <div *ngIf="!products">
          <mat-progress-spinner
          mode="indeterminate">
          </mat-progress-spinner>
        </div>
        <div class="item" *ngFor="let product of products">
        <mat-card>
          <a routerLink="/produto">
            <img class="product-img" mat-card-image src="assets/images/game1.png">
            <mat-card-header>
              <mat-card-title class="product-price">
                {{ product.price }}
              </mat-card-title>
              <mat-card-subtitle class="product-name">{{ product.name }}</mat-card-subtitle>
              <div class="rate-container">
                <div class="product-rate">
                  <i class="fas fa-star" *ngFor="let star of rateArr"></i>
                </div>
                <p class="product-rate-amount">453 Avaliações</p>
              </div>
              <div class="product-description">
                {{ product.description }}
              </div>
            </mat-card-header>
          </a>
          <mat-card-actions>
            <button routerLink="/produto" class="more-button" mat-button>Ver mais</button>
            <button (click)="addToCart(product.id)" class="buy-button" mat-button>
              Carrinho
              <i class="fas fa-cart-plus fa-lg"></i>
            </button>
          </mat-card-actions>
        </mat-card>
        </div>
      </div>
    </div>
    <div class="aside-container">
      <div *ngIf="this.authenticationService.isLoggedIn() && wallet">
        <button class="wallet-button" mat-button #tooltip="matTooltip" matTooltip="CARTEIRA">
          {{ wallet.funds | currency:'BRL': 'symbol' }}
        </button>
      </div>
      <div *ngIf="this.authenticationService.isLoggedIn(); else elseBlock">
        <button (click)="goToCart()" class="cart-button" mat-button matBadge="0" matBadgePosition="after">
          Carrinho
          <i class="fas fa-shopping-cart fa-lg"></i>
        </button>
      </div>
      <ng-template #elseBlock>
        <button (click)="goToCart()" class="cart-button" mat-button matBadgePosition="after">
          Carrinho
          <i class="fas fa-shopping-cart fa-lg"></i>
        </button>
      </ng-template>
      <p>Preço (R$)</p>
      <ngx-slider [value]="minPriceValue" [highValue]="maxPriceValue" [options]="priceOptions"></ngx-slider>
      <p>Avaliação</p>
      <ngx-slider [value]="minRatingValue" [highValue]="maxRatingValue" [options]="ratingOptions"></ngx-slider>
      <div class="plataform-filter">
        <mat-form-field appearance="fill">
          <mat-label>Plataforma </mat-label>
          <mat-select >
            <mat-option value="none">Nenhum</mat-option>
            <mat-option value="ps5">PS5</mat-option>
            <mat-option value="xbox-x">Xbox Series X</mat-option>
            <mat-option value="xbox-x">Xbox Series S</mat-option>
            <mat-option value="ps4">PS4</mat-option>
            <mat-option value="xbox-one">Xbox One</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="gender-filter">
        <mat-form-field appearance="fill">
          <mat-label>Gênero </mat-label>
          <mat-select >
            <mat-option value="none">Nenhum</mat-option>
            <mat-option value="acao">Ação e aventura</mat-option>
            <mat-option value="terror">Terror</mat-option>
            <mat-option value="rpg">RPG</mat-option>
            <mat-option value="fps">FPS</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="publisher-filter">
        <mat-form-field appearance="fill">
          <mat-label>Publisher </mat-label>
          <mat-select >
            <mat-option value="none">Nenhum</mat-option>
            <mat-option value="ea">EA</mat-option>
            <mat-option value="sony">Sony</mat-option>
            <mat-option value="blizzard">Blizzard</mat-option>
            <mat-option value="from-software">FromSoftware</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

</div>
