<nav>
  <div class="logo">
    <button mat-button class="navbar-button"><img src="./../../../assets/images/dwg-logo.png" width="40" height="40" alt="logo"></button>
  </div>
  <div class="button-row">
    <button mat-button class="navbar-button">Destaque</button>
    <button mat-button class="navbar-button">Categorias</button>
    <button mat-button class="navbar-button">Promoções</button>
    <button mat-button class="navbar-button">Lançamentos</button>
    <button mat-button class="navbar-button">Sobre</button>
    <button mat-button class="navbar-button">Suporte</button>
  </div>
</nav>
