@import './../../../assets/styles/variables.scss';
@import './../../../assets/styles/search-bar.scss';

nav {
  display: flex;
  flex-direction: row;
  background-color: $dark-gray;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  .button-row {
    display: flex;
    align-items: center;
  }

  .navbar-button {
    color: $light-gray;
    font-family: 'Cairo';
    text-transform: uppercase;
    padding: 10px;
  }

  .logo-button {
    background-color: $gray !important;
  }

  .right-section {
    display: flex;
    justify-content: end;
    width: 100%;

    .green-button {
      background-color: $green;

      .auth-button {
        display: flex;
        flex-direction: row;
        align-items: center;

        mat-icon {
          margin-right: 10px;
        }
      }
    }

  }

}
