<nav>
  <div class="logo">
    <a routerLink="/"><button mat-flat-button class="navbar-button logo-button"><img src="assets/images/dwg-logo.png" width="40" height="40" alt="logo"></button></a>
  </div>
  <div class="button-row">
    <a routerLink="/"><button mat-button class="navbar-button">Destaques</button></a>
    <a routerLink="/"><button mat-button class="navbar-button">Promoções</button></a>
    <a routerLink="/"><button mat-button class="navbar-button">Lançamentos</button></a>
    <a routerLink="/"><button mat-button class="navbar-button">Sobre</button></a>
    <a routerLink="/"><button mat-button class="navbar-button">Suporte</button></a>
  </div>
  <div class="right-section">
    <div class="search">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <a routerLink="/login">
      <button class="navbar-button green-button" mat-button>
        <div class="auth-button">
          <mat-icon matSuffix>account_circle</mat-icon>
          Entrar
        </div>
      </button>
    </a>
  </div>
</nav>
