<div class="login">
  <div class="left-section">
    <h2>Entrar na conta</h2>
    <mat-card>
      <form>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input type="password" matInput>
        </mat-form-field>
        <a class="login-button" routerLink="/login">
          <button class="navbar-button green-button" mat-button>
            <div class="auth-button">
              Entrar
            </div>
          </button>
        </a>
        <a routerLink="/login" class="forgot-password">Esqueceu a senha?</a>
      </form>
    </mat-card>
  </div>
  <div class="right-section">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_md2b3ywy.json" background="transparent"  speed="1" loop  autoplay >
    </lottie-player>
    <p class="ad">Crie uma conta na Digital Wave Games para encontrar os seus jogos favoritos em mídia física!</p>
    <a routerLink="/cadastrar">
      <button class="navbar-button green-button" mat-button>
        <div class="auth-button">
          Cadastrar-se
        </div>
      </button>
    </a>
  </div>
</div>
