<div class="main">
    <div class="title">
        <h2>{{game.name}}</h2>
        <button class="cart-button" mat-button>
            Carrinho
            <mat-icon matSuffix>add_shopping_cart</mat-icon>
        </button>
    </div>
    <div class="grid-content">
        <div class="container-trailer">

            <!-- trailers serão salvos no BD? -->
            <video width="100%" height="100%" src={{dir}} controls></video>
        </div>

        <div class="container-description-price">
            <div class="container-description">
                <p>{{game.description}}</p>
            </div>
            <div class="container-price">
                <p>Preço: {{game.price}}</p>
                <button class="buy-button" mat-button>
                    Adicionar ao carrinho
                    <mat-icon matSuffix>add_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
        <div class="container-extras">
            <video *ngFor="let game of game.video" src={{game}}  (click)="selected(game)" ></video>
        </div>
    </div>
</div>