<div class="main">
    <div class="title">
        <h2>Avaliações:</h2>
    </div>
    <div class="body">
        <div class="avaliation-list">
            <div class="avaliation" *ngFor="let produto of produto">
                <div class="container-img">
                    <img class="img-game" src="assets/images/game1.png">
                </div>
                <div class="avaliation-info">
                    <div class="name-rate">
                        <h2 class="title-game">{{produto.name}}</h2>
                        <div>
                            <i class="fas fa-star" *ngFor="let star of rateArr"></i>
                        </div>
                    </div>
                    <div class="container-desc">
                        <p class="desc">{{produto.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-infos">
            <img class="img-perfil" src="assets/images/dwg-large.png">
            <h2 class="username">{{usuario.name}}</h2>
            <h2 class="title-credits">Saldo na carteira:</h2>
            <div class="credits-aquisition">
                <p class="credits">{{creditsReal}}</p>
                <button mat-button class="add-credits" (click)="buyCredits()">Adquirir Saldo</button>
            </div>
            <p class="avaliations">Análises: {{usuario.avaliations}}</p>
            <p class="games">Jogos Adquiridos: {{usuario.games}}</p>
            <button mat-button class="delivery">Entregas</button>
        </div>
    </div>
</div>